[Desktop Entry]
Version=1.0
Type=Application
Name=TF Keyboard Controller
Comment=Rust Written Keyboard Controller
Exec=/usr/bin/keyboard-controller
Icon=rusty-kb
Terminal=false
Categories=Utility;
