[Unit]
Description=Set Keyboard Color Script

[Service]
ExecStart=/home/user/.rusty-kb/setcolor.sh
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=default.target
