[Desktop Entry]
Version=1.0
Type=Application
Name=LWL Keyboard Controller
Comment=Rust Written Keyboard Controller
Exec=/usr/bin/lwl-x6-keyboard
Icon=rusty-kb
Terminal=false
Categories=Utility;
