name: Run the Release

permissions:
  contents: write

on:
  push:
    tags:
      - 'v*'

jobs:
  Create_Packages:
    name: Create Packages
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get install -y git devscripts dh-sequence-dkms debhelper rpm build-essential cargo libgtk-4-dev
          cargo install cargo-deb cargo-rpm
       
      - name: Build DEB Package
        run: cargo deb

      - name: Build RPM Package
        run: mv rpm .rpm && cargo rpm build || true && rpmbuild -ba target/release/rpmbuild/SPECS/lwl-x6-keyboard.spec -D "_topdir $(pwd)/target/release/rpmbuild" -D "_tmppath $(pwd)target/release/rpmbuild/tmp"

      - name: Confirm builds complete
        run: |
          mkdir -p release
          # Find the DEB file in the target directory (safest method)
          find target -name "*.deb" -exec cp {} release/ \;
          # Copy the RPM from the x86_64 folder you identified
          cp target/release/rpmbuild/RPMS/x86_64/*.rpm release/
          
          # List files to verify in the logs
          ls -l release/

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: release/*
